.body {
    margin: 0;
    font-family: $main-font;
    color: $primary-text-color;
    background-color: $primary-white-color;

    @media screen and (min-width: 320px) {
        overflow-x: hidden;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
