.body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #2f303a;
  background-color: #ffffff;
}
@media screen and (min-width: 320px) {
  .body {
    overflow-x: hidden;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 100px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #ed4749;
}
@media screen and (max-width: 520px) {
  .title {
    flex-direction: column;
  }
}

.pricing-table {
  margin: 10px auto;
}
@media screen and (max-width: 520px) {
  .pricing-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

@media screen and (max-width: 520px) {
  .pricing-table-header {
    display: flex;
    flex-direction: column;
  }
}

.pricing-table-item {
  padding: 20px;
  text-align: center;
}
.pricing-table-item:hover {
  color: #ffffff;
  background-color: #ed4749;
}

.pricing-table-item:hover .plan-name::first-letter {
  color: #ffffff;
}

.plan-list {
  font-weight: 400;
  font-size: 16px;
}

.plan-name {
  margin-bottom: 20px;
}
@media screen and (max-width: 520px) {
  .plan-name::first-letter {
    color: #ed4749;
  }
}

.plan-period {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}

.plan-period-value {
  display: block;
  cursor: pointer;
  transition: transform 0.2s;
}
.plan-period-value:hover {
  transform: scale(1.2);
}

.plan-price {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 10px;
}

.pricing-table-feature:hover {
  background-color: #f5f4fa;
}

.pricing-table-feature td {
  padding: 20px;
  text-align: center;
  border: 1px solid #2f303a;
}

.accent {
  color: #ed4749;
}

.accent-bg {
  color: #ffffff;
  background-color: #ed4749;
}

.selected {
  text-decoration: underline;
}

@media screen and (max-width: 520px) {
  .hide {
    display: none;
  }
}

@media screen and (min-width: 520px) {
  .show {
    display: none;
  }
}

.btn {
  width: 100%;
  padding: 10px;
  color: #ffffff;
  background-color: #ed4749;
  border: 1px solid #ffffff;
  outline: none;
  cursor: pointer;
  transition: transform 0.2s;
}
.btn:hover {
  transform: scale(1.1);
}